*
!/.gitignore
!/.gitignore_global
!/.profile
!/.zprofile
!/.bashrc
!/.zshrc
!/.tmux.conf
!/.[Bb]rewfile

!/.config

# Fish
!/.config/fish
!/.config/fish/conf.d
!/.config/fish/conf.d/my.fish

# Atom
!/.atom
!/.atom/config.cson
