*
!/README.md
!/.gitignore
!/.gitignore_global

!/.bash_profile
!/.zprofile
!/.bashrc
!/.zshrc

!/.sh/
!/.sh/env.sh
!/.sh/fn.sh
!/.sh/bin/
!/.sh/bin/bye.sh
!/.sh/bin/update.sh
!/.sh/lib/
!/.sh/lib/styles.sh

!/.tmux.conf
!/.hyper.js
!/.p10k.zsh

!/.config/

# Atom
!/.atom/
!/.atom/config.cson
!/.atom/keymap.cson
!/.atom/snippets.cson
!/.atom/styles.less
