*
!/README.md
!/.gitignore
!/.gitignore_global
!/.profile
!/.zprofile
!/.bashrc
!/.zshrc
!/.tmux.conf
!/.hyper.js

!/.config

# Fish
!/.config/fish
!/.config/fish/conf.d
!/.config/fish/conf.d/my.fish

# Atom
!/.atom
!/.atom/config.cson
!/.atom/keymap.cson
!/.atom/snippets.cson
!/.atom/styles.less
