[submodule ".sh/lib/ush"]
	path = .sh/lib/ush
	url = https://github.com/amekusa/u.sh.git
[submodule ".config/lf"]
	path = .config/lf
	url = https://github.com/amekusa/lf.config.git
[submodule ".sh/lib/zsh-autosuggestions"]
	path = .sh/lib/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".sh/lib/zsh-syntax-highlighting"]
	path = .sh/lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".sh/lib/zsh-completions"]
	path = .sh/lib/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".sh/lib/zsh-z"]
	path = .sh/lib/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule ".sh/lib/powerlevel10k"]
	path = .sh/lib/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/amekusa/tmux.config.git
